@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'OdudoMono';
    src: url('/fonts/OdudoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: OdudoMono, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	word-spacing: -2px;
	background-color: #000;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}